# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')

# Tarefa 1

### 1. Idade media das mães e dos pais por município (coluna munResNome)

In [3]:
sinasc_raw[['IDADEMAE','IDADEPAI','munResNome']].groupby('munResNome').mean()

                            IDADEMAE   IDADEPAI
munResNome
Alta Floresta D'Oeste      25.991826  29.548701
Alto Alegre dos Parecis    24.844156  29.179104
Alto Paraíso               24.960177  28.833333
Alvorada D'Oeste           25.770732  30.757282
Ariquemes                  25.607866  32.466667
Buritis                    25.559177  30.812500
Cabixi                     26.037500  34.333333
Cacaulândia                25.546667  36.333333
Cacoal                     26.890102  30.931854
Campo Novo de Rondônia     24.825301  30.500000
Candeias do Jamari         25.243323  29.894737
Castanheiras               27.281250  30.392857
Cerejeiras                 27.240506  31.652778
Chupinguaia                25.333333  29.629630
Colorado do Oeste          27.602804  34.354839
Corumbiara                 24.716535  32.470588
Costa Marques              24.412017  30.613636
Cujubim                    24.482927  31.400000
Espigão D'Oeste            26.093333  31.198113
Governador Jorge Teixeira  24.401786  29.222222
Guajará-Mirim              25.462228  30.470588
Itapuã do Oeste            26.064220  42.500000
Jaru                       25.982974  32.197183
Ji-Paraná                  26.361137  31.132239
Machadinho D'Oeste         25.480000  31.326923
Ministro Andreazza         27.904762  33.849315
Mirante da Serra           26.304878  32.154762
Monte Negro                25.648241  34.678571
Município ignorado - RO    24.000000  22.000000
Nova Brasilândia D'Oeste   26.222222  30.520833
Nova Mamoré                25.326389  31.692308
Nova União                 26.894231  31.371429
Novo Horizonte do Oeste    26.938776  31.588235
Ouro Preto do Oeste        26.375594  31.233244
Parecis                    26.454545  32.473684
Pimenta Bueno              25.199675  29.745174
Pimenteiras do Oeste       25.075000  35.600000
Porto Velho                26.312670  32.352679
Presidente Médici          25.796053  30.150754
Primavera de Rondônia      27.023256  31.888889
Rio Crespo                 26.660000  28.000000
Rolim de Moura             26.600863  30.360479
Santa Luzia D'Oeste        26.121212  30.703297
Seringueiras               24.910714  30.500000
São Felipe D'Oeste         26.481481  31.395833
São Francisco do Guaporé   25.660066  31.638889
São Miguel do Guaporé      25.926346  32.666667
Teixeirópolis              26.031250  31.500000
Theobroma                  25.536082  30.083333
Urupá                      26.688235  31.008929
Vale do Anari              26.096774  34.000000
Vale do Paraíso            25.679012  29.976744
Vilhena                    26.433962  34.152941

### 2. Peso médio dos bebes por sexo que nasceram no dia do seu aniversário por faixas de escolaridade mae
Ex: Você, aluna(o), nasceu no dia 10/01, então você precisa filtrar o conjunto de dados nessa data e calcular o peso médio dos bebês de cada sexo por faixa de escolaridade da mãe.

In [4]:
sinasc_2901 = sinasc_raw[sinasc_raw['DTNASC'] == '2019-01-29']

In [5]:
sinasc_2901[['PESO','SEXO','ESCMAE']].groupby(['ESCMAE', 'SEXO'])['PESO'].mean().to_frame()

                                  PESO
ESCMAE          SEXO
1 a 3 anos      Feminino   3177.500000
12 anos ou mais Feminino   3370.454545
                Masculino  3776.000000
4 a 7 anos      Feminino   3170.000000
                Masculino  3276.000000
8 a 11 anos     Feminino   3259.666667
                Masculino  3358.187500

### 3. Qual o municipio que nasceu menos bebe em 2019?
    - qual a idade media, maxima, minima das maes nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [6]:
sinasc_raw['munResNome'].value_counts(ascending=True).head()

munResNome
Município ignorado - RO     1
Castanheiras               32
Pimenteiras do Oeste       40
Primavera de Rondônia      43
Parecis                    44
Name: count, dtype: int64

**Resposta:** O município em que nasceu menos bebê em 2019 foi **Castanheiras**.

In [7]:
sinasc_2 = sinasc_raw[sinasc_raw['munResNome'] == 'Castanheiras'][['IDADEMAE','IDADEPAI']]
sinasc_2.aggregate(['mean','max','min']).round(2)

      IDADEMAE  IDADEPAI
mean     27.28     30.39
max      39.00     43.00
min      17.00     17.00

### 4. Qual o municipio que nasceu mais bebe no mês de março?
    - qual a quantidade de filhos vivos media, maxima, minima nesse municipio?
    - qual a idade media, maxima, minima dos pais nesse municipio?

In [8]:
#Convertendo data para formato correto
sinasc_3 = sinasc_raw
sinasc_3.loc[:,'DTNASC'] = pd.to_datetime(sinasc_3['DTNASC'])
sinasc_3.set_index('DTNASC', inplace=True)
sinasc_3.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
DTNASC,,,,,,,,,,,,,,,,,,,,,
2019-02-19,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2019-02-21,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2019-02-25,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2019-03-20,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
2019-03-23,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [9]:
sinasc_3 = sinasc_3[sinasc_3.index.month == 3]

In [10]:
sinasc_3['munResNome'].value_counts().head()

munResNome
Porto Velho    744
Ji-Paraná      188
Vilhena        148
Ariquemes      141
Cacoal         133
Name: count, dtype: int64

**Resposta:** O município em que nasceu mais bebê em março foi **Porto Velho**.

In [11]:
sinasc_4 = sinasc_raw[sinasc_raw['munResNome'] == 'Porto Velho'][['QTDFILVIVO','IDADEPAI']]
sinasc_4.aggregate(['mean','max','min']).round(2)

      QTDFILVIVO  IDADEPAI
mean        1.17     32.35
max        12.00     65.00
min         0.00     16.00

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados. Algo que você julgue relevante e novo pra você.

In [12]:
sinasc_raw.groupby('ESCMAE')['PARTO'].value_counts().to_frame()

                         count
ESCMAE          PARTO
1 a 3 anos      Cesáreo    273
                Vaginal    242
12 anos ou mais Cesáreo   4698
                Vaginal   1051
4 a 7 anos      Cesáreo   2606
                Vaginal   2150
8 a 11 anos     Cesáreo  10208
                Vaginal   5399
Nenhuma         Vaginal     21
                Cesáreo     19

Descobri que mães com escolaridade "nenhuma", "1 a 3 anos" e "4 a 7 anos" tem realizam parto "vaginal" em uma proporção próxima de "cesáreo".

Enquanto isso, mães com escolaridade "8 a 10 anos" ou "12 anos ou mais" tem maior probabilidade de fazer parto "Cesáreo".